@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Sarpanch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ruslan+Display&family=Slackey&display=swap');
/*Overall styling*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('../images/skull.jpg');
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
    background-color: darkcyan;

}

/*Heading styling*/
#header {
    font-family: Slackey, sans-serif;
    text-align: center;
    letter-spacing: 2px;
    font-size: 300%;
    padding: 15px;
    color: #30d5c8;
}

/*Control button information*/
#game-cont-exp {
    font-family: Ruslan Display, sans-serif;
    font-size: 150%;
    text-align: center;
    padding: 10px;
    letter-spacing: 4PX;
    list-style-type: none;
    color: #00cccc;
}

/*Style game instructions*/
#game-instructions {
    font-family: Ruslan Display, sans-serif;
    text-align: center;
    font-size: 200%;
    letter-spacing: 4px;
    color: #00cccc;
}
h3 {
    padding: 10px;
}

/*Start button styling*/

#start-button {
    margin-top: 15px;
}

button {
    font-family: Slackey, sans-serif;
    font-size: 200%;
    display: block;
    margin: 0 auto;
    padding: 10px;
    border-radius: 25px;
    background-color: darkgreen;
    color: whitesmoke;

}

/* Footer styling*/

#social-media {
    font-size: 200%;
    position: absolute;
    bottom: 0;
}

.icons, .social {
    text-align: center;
    font-size: 100%;
    padding: 20px;
    color: whitesmoke;
}

/*Canvas styling*/

#game-canvas {
    border: 5px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #6495ED;
    max-width: 100%;
    max-height: 100%;
}

/*Back button styling*/

#back-btn {
    font-family: Slackey, sans-serif;
    font-size: 20%;
    color: #00cccc;
    position: left;
    text-decoration: none;
}
 /*Parallax background images display*/

 #layer1 ,#layer2, #layer3, #layer4, #layer5, #layer6, #layer7, #layer8, #layer9 {
    display: none;
 }

 /*Player sprite image display*/
 #player {
    display: none;
 }

 /*Foe Sprite display*/
 #blue-bat, #egg, #green-alien {
    display: none;
 }

 /*Prop display*/

 #fire-ball, #smoke, #fire {
    display: none;
 }

 /*Media queries*/

 @media screen and (min-width: 380px) {
    body {
        height: 100vh;
    }
    #header {
        font-size: 30px;
    }
    #game-cont-exp {
        font-size: 15px;
    }
    #game-instructions {
        font-size: 15px;
    }
    #start-button {
        font-size: 15px;
    }
    #social-media {
        font-size: 25px;
    }
    .icons, .social {
        font-size: 25px;
    }
 }

 @media screen and (min-width: 810px) {
    body {
        height: 100vh;
    }
    #header {
        font-size: 40px;
    }
    #game-cont-exp {
        font-size: 20px;
    }
    #game-instructions {
        font-size: 20px;
    }
    #start-button {
        font-size: 20px;
    }
    #social-media {
        font-size: 30px;
    }
    .icons, .social {
        font-size: 30px;
    }
 }